body{ 
  background-color:#1A202C;
  margin:0;
  padding:0;
}


.row_design{
  height:120px;
  background-color: #2D3748;
  color: #fff;
 
}
.row_design_1{
  
  background-color: #2D3748;
   border-radius: 8px;
   padding : 2rem;
 
}
.row_design_2{
  
   background-color: #2D3748;
   border-radius: 8px;
   margin-bottom: 10px;
  
 
}
.row_design_3{
  background-color: #2D3748;
}

.font_stlye{
  font-size: 30px;
  font-family: 'Recursive', sans-serif;

}
.font_stlye:hover{ 
  color:#495A99;
}
.font_stlye_1{
  font-size: 21px;
  font-family: 'Recursive', sans-serif;
  margin-top: 25px;
  
}
.font_stlye_1:hover{
  color:#495A99;
}
.card_design{
  background-color: #2D3748;
  border-radius:15px;
  height: 150px;
}
.card_design:hover{
  transform : translateY(-0.25rem);
}
.card_design_1{
  background-color: #2D3748;
  border : none;
}
.font_size{
  font-size:26px;
  color: #495A99;
}
.text_size{
  font-size:20px;
  font-family: 'Recursive', sans-serif;
}
.Sws_design{
  font-size: 18px;
  color:#6557D5;

 

}
.sws_1{
  width:75%;
  padding-left: 30px;
  padding-right: 30px;
}
.sws_2{
  width:22%;
  margin-right: 15px;
}
.butt{
  border-radius:20px;
  font-size:18px;
  background-color: #6C63FF;
  color: #fff;
  padding-left: 23px;
  padding-right:23px;
}
.butt:hover{background-color: #fff;
  color:grey;
}
.butt_1{
  border-radius:10px;
  font-size:18px;
  background-color: #6C63FF;
  color: #fff;
  padding-left: 13px;
  padding-right:13px;
  margin-top: 10px;
}
li{ 
  color: green;
}
li a { 
  color: #fff;
}
ul{ 
  line-height:35px;
  
}
.Experties{
  line-height:26px;
  color:#CBD5E0;
}